<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IRLMate"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- ✅ Zmieniono: launchMode = singleTask -->
        <activity
            android:name="com.jurianoff.irlmate.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IRLMate"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        

        <!-- 🔐 Kick OAuth2 redirect -->
        <activity
            android:name="com.jurianoff.irlmate.ui.settings.KickAuthRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="irlmate"
                    android:host="auth"
                    android:pathPrefix="/kick/callback" />
            </intent-filter>
        </activity>


        <!-- 🔐 Twitch OAuth2 redirect -->
        <activity
            android:name="com.jurianoff.irlmate.ui.settings.TwitchAuthRedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="irlmate"
                    android:host="auth"
                    android:pathPrefix="/twitch/callback" />
            </intent-filter>
        </activity>


    </application>

</manifest>
